flows_loridane.json
[{"id":"87b4e0ed.4f6a5","type":"subflow","name":"LORIDANE - GUI last5msgs","info":"","category":"","in":[{"x":120,"y":140,"wires":[{"id":"8cf056bb.4a0518"}]}],"out":[],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red/envelope.svg"},{"id":"8cf056bb.4a0518","type":"function","z":"87b4e0ed.4f6a5","name":"Read incoming mesages","func":"function getLocaleTime(dateobj){ //return cerrected summer or wintertime\n    month = dateobj.getMonth();\n    hours = dateobj.getHours();\n    \n    //Between April an Septemer?\n    if (inRangeOf(month,3,8)){\n        dateobj.setHours(++hours);\n        return dateobj;\n    }\n    \n    daydate = dateobj.getDate();\n    day = dateobj.getDay();\n    if (month == 2){ //if in March\n        if (daydate >= 25 && 31 - day > 25){\n            dateobj.setHours(++hours);\n            return dateobj;\n        }\n    }\n    if (month == 9){ //if in October\n        if (daydate >= 25 && 31 - day > 25){\n            return dateobj;\n        }else{\n            dateobj.setHours(++hours);\n            return dateobj;\n        }\n    }\n    return dateobj;\n}\n\ninRangeOf = global.get(\"LORIDANE.funcs.inRangeOf\");\n\nif(msg.topic == \"clear\"){\n    lastmsgs = [\"\",\"\",\"\",\"\",\"\"];\n    context.set(\"lastmsgs\",lastmsgs);\n    msg = {payload: lastmsgs};\n    return msg;\n}\n\npay = msg.data.pay;\nnode = msg.data.node;\nrssi = msg.data.rssi;\nnow = getLocaleTime(new Date());\nlastmsgs = context.get(\"lastmsgs\")||[];\ninput = node+\" - \"+pay +\" - RSSI: \"+rssi +\" - \"+ now.toLocaleString('de-DE');\n\nlastmsgs.unshift(input);\nif (lastmsgs.length > 5) lastmsgs.pop();\ncontext.set(\"lastmsgs\",lastmsgs);\n\nmsg = {payload: lastmsgs};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":140,"wires":[["8aa6d9a6.aab8c8","43a9ed86.e87424","1c87e440.79c8dc","8cf8f7a8.20aa18","484cddb1.1ebf84"]]},{"id":"8aa6d9a6.aab8c8","type":"ui_text","z":"87b4e0ed.4f6a5","group":"3458ce4.31e1d32","order":0,"width":0,"height":0,"name":"Last Msgs","label":"{{msg.payload[0]}}","format":"","layout":"col-center","x":490,"y":80,"wires":[]},{"id":"43a9ed86.e87424","type":"ui_text","z":"87b4e0ed.4f6a5","group":"3458ce4.31e1d32","order":0,"width":0,"height":0,"name":"Last Msgs","label":"{{msg.payload[1]}}","format":"","layout":"col-center","x":530,"y":120,"wires":[]},{"id":"1c87e440.79c8dc","type":"ui_text","z":"87b4e0ed.4f6a5","group":"3458ce4.31e1d32","order":0,"width":0,"height":0,"name":"Last Msgs","label":"{{msg.payload[2]}}","format":"","layout":"col-center","x":550,"y":160,"wires":[]},{"id":"8cf8f7a8.20aa18","type":"ui_text","z":"87b4e0ed.4f6a5","group":"3458ce4.31e1d32","order":0,"width":0,"height":0,"name":"Last Msgs","label":"{{msg.payload[3]}}","format":"","layout":"col-center","x":590,"y":200,"wires":[]},{"id":"484cddb1.1ebf84","type":"ui_text","z":"87b4e0ed.4f6a5","group":"3458ce4.31e1d32","order":0,"width":0,"height":0,"name":"Last Msgs","label":"{{msg.payload[4]}}","format":"","layout":"col-center","x":650,"y":240,"wires":[]},{"id":"a33a49db.1565a8","type":"ui_button","z":"87b4e0ed.4f6a5","name":"","group":"3458ce4.31e1d32","order":5,"width":0,"height":0,"passthru":false,"label":"Clear View","tooltip":"","color":"","bgcolor":"","icon":"fa-trash-o","payload":"","payloadType":"str","topic":"clear","topicType":"str","x":260,"y":100,"wires":[["8cf056bb.4a0518"]]},{"id":"3458ce4.31e1d32","type":"ui_group","name":"Incoming Messages","tab":"278b2300.ae23ae","order":1,"disp":true,"width":"12","collapse":false},{"id":"278b2300.ae23ae","type":"ui_tab","name":"Messages","icon":"comment","order":1,"disabled":false,"hidden":false},{"id":"50021684.fc8998","type":"subflow","name":"LORIDANE - NodeSync","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-clock-o","status":{"x":500,"y":220,"wires":[{"id":"46db6402.51d59c","port":0}]}},{"id":"6a95e685.2886e8","type":"function","z":"50021684.fc8998","name":"Sync","func":"//*\ntimer = context.get(\"timer\");\nclearTimeout(timer);\ncontext.set(\"timer\",timer);\n//*/\n\nfunction countup(secs){\n    timer = context.get(\"timer\");\n    clearTimeout(timer);\n    node.status({text:\"Last Sync: \"+secs+\"s ago\"});\n    secs++;\n    timer = setTimeout(countup,1000,secs);\n    context.set(\"timer\",timer);\n}\n\ngetUIDGW = global.get(\"LORIDANE.funcs.getUIDGW\");\ngws = getUIDGW();\n\nfor (var g in gws){\n    msg = {payload:\"cn:sync\",topic:\"lora/\"+gws[g]};\n    node.send(msg);\n}\nnode.status({text: \"Sync\"});\n//*\ntimer = setTimeout(countup,1000,0);\ncontext.set(\"timer\",timer);\n//*/\n//setTimeout(()=>node.status({}),5000);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":140,"wires":[["90c319b2.77ae68"]]},{"id":"90c319b2.77ae68","type":"subflow:ac607145.b8858","z":"50021684.fc8998","name":"","env":[],"x":450,"y":140,"wires":[]},{"id":"4800e73c.a68278","type":"inject","z":"50021684.fc8998","name":"","props":[{"p":"payload"}],"repeat":"233","crontab":"","once":true,"onceDelay":"7","topic":"","payload":"","payloadType":"date","x":200,"y":80,"wires":[["6a95e685.2886e8"]]},{"id":"46db6402.51d59c","type":"status","z":"50021684.fc8998","name":"","scope":null,"x":390,"y":220,"wires":[[]]},{"id":"1f6b4cd7.580ab3","type":"subflow","name":"LORIDANE - GUI","info":"","category":"","in":[{"x":40,"y":460,"wires":[{"id":"d96d486b.5cf158"},{"id":"cf6a0c19.2f0fd"},{"id":"1b0bcffa.390ba"}]}],"out":[{"x":1440,"y":460,"wires":[{"id":"a1e0e5b4.c6e4b8","port":0},{"id":"57803392.95260c","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red-dashboard/ui_button.png"},{"id":"f677aac0.027088","type":"ui_button","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"","group":"d7396f84.84707","order":0,"width":0,"height":0,"passthru":false,"label":"Reboot Server","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Are You Shure You Want the Server to Reboot now?","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":140,"wires":[["1cc46c68.3d8d74"]]},{"id":"1cc46c68.3d8d74","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":530,"y":140,"wires":[["2587903e.1d0cb"]]},{"id":"2587903e.1d0cb","type":"switch","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"neq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":140,"wires":[["1ecee5b6.93a51a"],["6dcee456.c5921c"]]},{"id":"6dcee456.c5921c","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"Cancelled","x":910,"y":180,"wires":[]},{"id":"1ecee5b6.93a51a","type":"exec","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","command":"sudo reboot now","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":940,"y":120,"wires":[[],[],[]]},{"id":"12a1ca51.33b3c6","type":"inject","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"Reboot","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":340,"y":100,"wires":[["1ecee5b6.93a51a"]]},{"id":"e57b7576.118c88","type":"ui_dropdown","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"Choose Node","label":"","tooltip":"","place":"Select Node to be configured","group":"a3b84e04.bcada","order":2,"width":11,"height":1,"passthru":false,"multiple":true,"options":[],"payload":"","topic":"nodes","topicType":"str","x":540,"y":660,"wires":[["bb2f103f.7658f","4c866e2b.03075"]]},{"id":"d96d486b.5cf158","type":"function","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"Load Devices","func":"nodes = global.get(\"LORIDANE.devices.nodes\");\noptions = [];\n\n// as list for the choose device dropdown load the device an if available the friendlyname\nfor (var node in nodes){\n    let name = \"\";\n    if(nodes[node].friendlyname != \"\" && nodes[node].friendlyname != undefined){\n        name = `${nodes[node].uid} - ${nodes[node].friendlyname}`;\n        options[node] = {[name]:nodes[node].uid};\n    }else{\n        name = `${nodes[node].uid}`;\n        options[node] = {[name]:nodes[node].uid} ;\n    }\n}\nreturn {options:options};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":660,"wires":[["e57b7576.118c88"]]},{"id":"fee9bc8.1876f4","type":"debug","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":660,"wires":[]},{"id":"4be1cca7.fee664","type":"inject","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":620,"wires":[["d96d486b.5cf158"]]},{"id":"bb2f103f.7658f","type":"function","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"Join Configurations","func":"nodes = msg.payload;\nif(msg.topic == \"nodes\"){\n    context.set(\"nodes\",nodes);\n    return;\n}\n\nif(msg.topic == \"data\"){\n    nodes = context.get(\"nodes\");\n    data = msg.payload;\n    data.freq /= 10;\n    data.sf /= 1; \n    data.tx /= 1;\n    data.iv /= 1;\n}\nmsg.payload = {nodes:nodes,data:data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":700,"wires":[["8a1697c0.f50d08"]]},{"id":"e16a719b.8ad98","type":"ui_form","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"","label":"Configure chosen Node(s)","group":"a3b84e04.bcada","order":4,"width":0,"height":0,"options":[{"label":"Friendly Name (eg. Milling Center 1)","value":"friendly","type":"text","required":false,"rows":null},{"label":"Frequency (8672 for 867.2MHz)","value":"freq","type":"text","required":false,"rows":null},{"label":"Spreading Factor (7-12)","value":"sf","type":"text","required":false,"rows":null},{"label":"Sending Power (4 - 20)","value":"tx","type":"text","required":false,"rows":null},{"label":"Interval (more than 5000ms)","value":"iv","type":"text","required":false,"rows":null}],"formValue":{"friendly":"","freq":"","sf":"","tx":"","iv":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"data","topicType":"str","splitLayout":"","x":470,"y":720,"wires":[["bb2f103f.7658f"]]},{"id":"8a1697c0.f50d08","type":"function","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"Validate Data","func":"data = msg.payload.data;\nlet topic = true;\ninrange = global.get(\"LORIDANE.funcs.inRangeOf\");\n\n\nfunction allowed(freq){\n    allowedfreq = global.get(\"LORIDANE.values.allowedFreq\");\n    for (i = 0;i < allowedfreq.length -3;){\n        if (inrange(data.freq,allowedfreq[i],allowedfreq[i+1]) && (data.freq*10) % 2 === 0){\n            return true;\n        }\n        i += 3;\n    }\n    return false;\n}\n\nvalidated = false;\nkeys = Object.keys(data);\ncause = \"\";\n\nfor(var key of keys){\n    validated = false;\n    if(data[key]){\n        switch(key){\n            case \"freq\":\n                validated = allowed(data.freq);\n                cause = \"Frequency\";\n                break;\n            case \"tx\":\n                validated = inrange(data.tx,4,20);\n                cause = \"Sending Power\";\n                break;\n            case \"sf\":\n                validated = inrange(data.sf,7,12);\n                cause = \"Spreading Factor\";\n                break;\n            case \"friendly\":\n                validated = true;\n                break;\n            case \"iv\":\n                validated = inrange(data.iv,5000,Infinity);\n                cause = \"Send Interval\";\n                break;\n        }\n        if(!validated) break;\n    }else{\n        validated = true;\n        continue;\n    }\n}\n\nmsg.topic = validated;\nmsg.cause = cause;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":720,"wires":[["fee9bc8.1876f4","33ea6ce3.9b5e04","a1e0e5b4.c6e4b8"]]},{"id":"4a591ded.73e174","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Not Valid","x":1160,"y":800,"wires":[[]]},{"id":"33ea6ce3.9b5e04","type":"function","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"Show Notification","func":"if(msg.payload.nodes === undefined){\n    msg.payload = \"No Device Selected\";\n    msg.topic = \"Configuration not valid!\";\n    return msg;\n}\n\nif(msg.topic){\n    msg.payload = \"Valid Configuration. Executed\";\n    msg.topic = \"Done.\";\n}else{\n    msg.payload = \"Choose other Params for \"+msg.cause;\n    msg.topic = \"Configuration not valid!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":780,"wires":[["f523a013.5a4de"]]},{"id":"b4ebf216.b7a46","type":"ui_dropdown","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"Choose Gateway","label":"","tooltip":"","place":"Select Gateway to be configured","group":"41b7f885.973478","order":2,"width":11,"height":1,"passthru":false,"multiple":true,"options":[],"payload":"","topic":"nodes","topicType":"str","x":550,"y":1000,"wires":[["f2f01891.7da9a8","d1ca8909.e4bb68"]]},{"id":"cf6a0c19.2f0fd","type":"function","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"Load Devices","func":"nodes = global.get(\"LORIDANE.devices.gw\");\noptions = [];\n\nfor (var node in nodes){\n    let name = \"\";\n    if(nodes[node].friendlyname != \"\" && nodes[node].friendlyname != undefined){\n        name = `${nodes[node].uid} - ${nodes[node].friendlyname}`;\n        options[node] = {[name]:nodes[node].uid};\n    }else{\n        name = `${nodes[node].uid}`;\n        options[node] = {[name]:nodes[node].uid} ;\n    }\n}\nreturn {options:options};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1000,"wires":[["b4ebf216.b7a46"]]},{"id":"d2321904.bd3778","type":"debug","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":1000,"wires":[]},{"id":"687a104b.46d23","type":"inject","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":960,"wires":[["cf6a0c19.2f0fd"]]},{"id":"f2f01891.7da9a8","type":"function","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"Join Configurations","func":"nodes = msg.payload;\nif(msg.topic == \"nodes\"){\n    context.set(\"nodes\",nodes);\n    return;\n}\n\nif(msg.topic == \"data\"){\n    nodes = context.get(\"nodes\");\n    data = msg.payload;\n    data.freq /= 10;\n    data.sf /= 1; \n    data.tx /= 1;\n}\nmsg.payload = {nodes:nodes,data:data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1040,"wires":[["75c180e0.0161d"]]},{"id":"e88a04e4.17f878","type":"ui_form","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"","label":"Configure chosen Gateway(s)","group":"41b7f885.973478","order":4,"width":0,"height":0,"options":[{"label":"Friendly Name (eg. Milling Center 1)","value":"friendly","type":"text","required":false,"rows":null},{"label":"Frequency (8672 for 867.2MHz)","value":"freq","type":"text","required":false,"rows":null},{"label":"Spreading Factor (7-12)","value":"sf","type":"text","required":false,"rows":null},{"label":"Sending Power (4 - 20)","value":"tx","type":"text","required":false,"rows":null}],"formValue":{"friendly":"","freq":"","sf":"","tx":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"data","topicType":"str","splitLayout":"","x":450,"y":1080,"wires":[["f2f01891.7da9a8"]]},{"id":"75c180e0.0161d","type":"function","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"Validate Data","func":"data = msg.payload.data;\nlet topic = true;\ninrange = global.get(\"LORIDANE.funcs.inRangeOf\");\n\n\nfunction allowed(freq){\n    allowedfreq = global.get(\"LORIDANE.values.allowedFreq\");\n    for (i = 0;i < allowedfreq.length -3;){\n        if (inrange(data.freq,allowedfreq[i],allowedfreq[i+1]) && (data.freq*10) % 2 === 0){\n            return true;\n        }\n        i += 3;\n    }\n    return false;\n}\n\nvalidated = false;\nkeys = Object.keys(data);\ncause = \"\";\n\nfor(var key of keys){\n    validated = false;\n    if(data[key]){\n        switch(key){\n            case \"freq\":\n                validated = allowed(data.freq);\n                cause = \"Frequency\";\n                break;\n            case \"tx\":\n                validated = inrange(data.tx,4,20);\n                cause = \"Sending Power\";\n                break;\n            case \"sf\":\n                validated = inrange(data.sf,7,12);\n                cause = \"Spreading Factor\";\n                break;\n            case \"friendly\":\n                validated = true;\n                break;\n        }\n        if(!validated) break;\n    }else{\n        validated = true;\n        continue;\n    }\n}\n\nmsg.topic = validated;\nmsg.cause = cause;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1040,"wires":[["4aed09cf.c3bd28","57803392.95260c"]]},{"id":"d8ab8a8b.e7d488","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Not Valid","x":1160,"y":1200,"wires":[[]]},{"id":"4aed09cf.c3bd28","type":"function","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"Show Notification","func":"if(msg.payload.nodes === undefined){\n    msg.payload = \"No Device Selected\";\n    msg.topic = \"Configuration not valid!\";\n    return msg;\n}\n\nif(msg.topic){\n    msg.payload = \"Valid Configuration. Executed\";\n    msg.topic = \"Done.\";\n}else{\n    msg.payload = \"Choose other Params for \"+msg.cause;\n    msg.topic = \"Configuration not valid!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1100,"wires":[["6566196d.8d3048"]]},{"id":"ca934678.0f3358","type":"function","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"Load Devices","func":"nodes = global.get(\"LORIDANE.devices.nodes\");\ngateways = global.get(\"LORIDANE.devices.gw\");\n\noptions = [];\n\nfor (var node in nodes){\n    options.push(nodes[node].uid);\n}\nfor (var gw in gateways){\n    options.push(gateways[gw].uid);\n}\ntopic = \"nodes\";\nreturn {topic: topic, options:options};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1340,"wires":[["be7f8cb3.7106d"]]},{"id":"a838a5f3.fb51c8","type":"debug","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1300,"wires":[]},{"id":"be7f8cb3.7106d","type":"function","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"Join Configurations","func":"nodes = msg.options;\nlet data;\n\nif(msg.topic == \"nodes\"){\n    context.set(\"nodes\",nodes);\n    return;\n}\n\nif(msg.topic == \"data\"){\n    nodes = context.get(\"nodes\");\n    data = msg.payload;\n    data.freq /= 10;\n    data.sf /= 1; \n    data.tx /= 1;\n    data.iv /= 1;\n}\n\nmsg.payload = {nodes:nodes,data:data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1360,"wires":[["4852d10.477643"]]},{"id":"3d5f1d9a.a38162","type":"ui_form","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"","label":"Configure Devices","group":"5db15994.d9fc08","order":2,"width":0,"height":0,"options":[{"label":"Frequency (8672 for 867.2MHz)","value":"freq","type":"text","required":false,"rows":null},{"label":"Spreading Factor (7-12)","value":"sf","type":"text","required":false,"rows":null},{"label":"Sending Power (4 - 20)","value":"tx","type":"text","required":false,"rows":null},{"label":"Sending Interval (more than 5000ms)","value":"iv","type":"text","required":false,"rows":null}],"formValue":{"freq":"","sf":"","tx":"","iv":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"data","topicType":"str","splitLayout":"","x":170,"y":1360,"wires":[["ca934678.0f3358","228e4b2a.1fbdd4"]]},{"id":"4852d10.477643","type":"function","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"Validate Data","func":"data = msg.payload.data;\nlet topic = true;\ninrange = global.get(\"LORIDANE.funcs.inRangeOf\");\n\n\nfunction allowed(freq){\n    allowedfreq = global.get(\"LORIDANE.values.allowedFreq\");\n    for (i = 0;i < allowedfreq.length -3;){\n        if (inrange(data.freq,allowedfreq[i],allowedfreq[i+1]) && (data.freq*10) % 2 === 0){\n            return true;\n        }\n        i += 3;\n    }\n    return false;\n}\n\nvalidated = false;\nkeys = Object.keys(data);\ncause = \"\";\n\nfor(var key of keys){\n    validated = false;\n    if(data[key]){\n        switch(key){\n            case \"freq\":\n                validated = allowed(data.freq);\n                cause = \"forbidden Frequency \"+data.freq+\"MHz\";\n                break;\n            case \"tx\":\n                validated = inrange(data.tx,4,20);\n                cause = \"Sending Power\";\n                break;\n            case \"sf\":\n                validated = inrange(data.sf,7,12);\n                cause = \"Spreading Factor\";\n                break;\n            case \"friendly\":\n                validated = true;\n                break;\n            case \"iv\":\n                validated = inrange(data.iv,5000,Infinity);\n                cause = \"Send Interval\";\n                break;\n        }\n        if(!validated) break;\n    }else{\n        validated = true;\n        continue;\n    }\n}\n\nmsg.topic = validated;\nmsg.cause = cause;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1380,"wires":[["ea533728.17abe8","aa54a818.16bfe8"]]},{"id":"7ad6da86.9f1714","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Not Valid","x":1120,"y":1480,"wires":[[]]},{"id":"ea533728.17abe8","type":"function","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"Show Notification","func":"if(msg.topic){\n    msg.payload = \"Valid Configuration. Executed\";\n    msg.topic = \"Done.\";\n}else{\n    msg.payload = \"Choose other Params for \"+msg.cause;\n    msg.topic = \"Configuration not valid!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1440,"wires":[["376bb84d.5c4108"]]},{"id":"228e4b2a.1fbdd4","type":"delay","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":475,"y":1400,"wires":[["be7f8cb3.7106d"]],"l":false},{"id":"aa54a818.16bfe8","type":"function","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"Send configuration to nodes","func":"if(!msg.topic){\n    return;\n}\ndata = msg.payload.data;\nstream = \"cg:cn:\";\n\ngateways = [];\nnodes = msg.payload.nodes;\nfor(i=nodes.length-1;i>=0;i--){\n    if(nodes[i].startsWith(\"GW\")){\n        gateways.push(nodes[i]);\n    }else{\n        break;\n    }\n}\n\nkeys = Object.keys(data);\nfor(var key of keys){\n    if(data[key] === 0){\n        continue;\n    }\n    switch(key){\n        case \"freq\":\n            freq = data.freq;\n            freq*=10;\n            stream += \"fn:\"+freq+\";fg:\"+freq+\";\";\n            break;\n        case \"tx\":\n            stream += \"tn:\"+data.tx+\";\";\n            break;\n        case \"iv\":\n            stream += \"iv:\"+data.iv+\";\";\n            break;\n        case \"sf\":\n            stream += \"sn:\"+data.sf+\";sg:\"+data.sf+\";\";\n    }\n}\n\nfor (var gw of gateways){\n    topic = \"lora/\"+gw;\n    node.send({payload:stream,topic:topic});\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1380,"wires":[["1b0bcffa.390ba","5e0f1d0e.72acd4"]]},{"id":"489536f1.222f58","type":"ui_text","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","group":"5db15994.d9fc08","order":1,"width":0,"height":0,"name":"","label":"Note:","format":"{{msg.payload}}","layout":"col-center","x":350,"y":1300,"wires":[]},{"id":"1f79d907.e38967","type":"inject","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"If you don't wish to change a particular value, leave empty.","payloadType":"str","x":210,"y":1300,"wires":[["489536f1.222f58","1b0bcffa.390ba"]]},{"id":"7cf3110c.3a183","type":"ui_text","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","group":"41b7f885.973478","order":3,"width":12,"height":2,"name":"","label":"Note:","format":"{{msg.payload}}","layout":"col-center","x":550,"y":960,"wires":[]},{"id":"57b04db1.10b6c4","type":"inject","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"If you don't wish to change a particular value, leave empty. Please make shure you configure the Nodes first, otherwise they will loose connection!","payloadType":"str","x":410,"y":960,"wires":[["7cf3110c.3a183"]]},{"id":"11eaace6.e25973","type":"ui_text","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","group":"a3b84e04.bcada","order":3,"width":12,"height":2,"name":"","label":"Note:","format":"{{msg.payload}}","layout":"col-center","x":510,"y":620,"wires":[]},{"id":"9da1f4a2.eadf28","type":"inject","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"If you don't wish to change a particular value, leave empty. Please make shure you configure a Node to parameters you will have a Gateway running on!","payloadType":"str","x":370,"y":620,"wires":[["11eaace6.e25973"]]},{"id":"873e4430.355058","type":"ui_text","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","group":"5db15994.d9fc08","order":3,"width":0,"height":0,"name":"","label":"Current Settings","format":"{{msg.payload}}","layout":"col-center","x":740,"y":1480,"wires":[]},{"id":"1b0bcffa.390ba","type":"function","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"show current settings","func":"settings = global.get(\"LORIDANE.devices.gw[0]\");\nfreq = settings.freq / 1e6;\nsf = settings.sf;\nmsg.payload = \"Frequency: \"+freq+\" MHz , SF: \"+sf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1480,"wires":[["873e4430.355058"]]},{"id":"57803392.95260c","type":"function","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"Send configuration to nodes","func":"if(!msg.topic){\n    return;\n}\ndata = msg.payload.data;\nstream = \"cg:\";\n\ngateways = [];\nnodes = msg.payload.nodes;\nfor(i=nodes.length-1;i>=0;i--){\n    if(nodes[i].startsWith(\"GW\")){\n        gateways.push(nodes[i]);\n    }else{\n        break;\n    }\n}\n\nkeys = Object.keys(data);\nfor(var key of keys){\n    if(data[key] === 0){\n        continue;\n    }\n    switch(key){\n        case \"freq\":\n            freq = data.freq;\n            freq*=10;\n            stream += \"fg:\"+freq+\";\";\n            break;\n        case \"tx\":\n            stream += \"tg:\"+data.tx+\";\";\n            break;\n        case \"sf\":\n            stream += \"sg:\"+data.sf+\";\";\n    }\n}\n\nfor (var gw of gateways){\n    topic = \"lora/\"+gw;\n    if (stream != \"cg:\"){\n    node.send({payload:stream,topic:topic});\n    }\n}\n\nif (data.friendly != \"\"){\n    node.send({friendlyname:{name:data.friendly,uid:nodes[0]}});\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1040,"wires":[["5e0f1d0e.72acd4"]]},{"id":"a1e0e5b4.c6e4b8","type":"function","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"Send configuration to nodes","func":"if(!msg.topic){\n    return;\n}\ndata = msg.payload.data;\nstream = \"\";\n\ngateways = [];\nnodes = msg.payload.nodes;\nnodesHDD = global.get(\"LORIDANE.devices.nodes\");\n\nfor(i=0;i <= nodes.length-1;i++){\n    for(j=0;i <= nodesHDD.length-1;j++)\n    if(nodes[i]==nodesHDD[j].uid){\n        gateways.push(nodesHDD[j].nextGW);\n        break;\n    }\n}\n\nkeys = Object.keys(data);\nfor(var key of keys){\n    if(data[key] === 0){\n        continue;\n    }\n    switch(key){\n        case \"freq\":\n            freq = data.freq;\n            freq*=10;\n            stream += \"fn:\"+freq+\";\";\n            break;\n        case \"tx\":\n            stream += \"tn:\"+data.tx+\";\";\n            break;\n        case \"sf\":\n            stream += \"sn:\"+data.sf+\";\";\n            break;\n        case \"iv\":\n            stream += \"iv:\"+data.iv+\";\"\n    }\n}\n\nfor (var gw of gateways){\n    topic = \"lora/\"+gw;\n    \n    for(var nd in nodes){\n        if(stream != \"cn:\"){\n        node.send({payload:nodes[nd]+stream,topic:topic});\n        }\n    }\n    \n}\n\nif (data.friendly != \"\"){\n    node.send({friendlyname:{name:data.friendly,uid:nodes[0]}});\n}\n\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":720,"wires":[["5e0f1d0e.72acd4"]]},{"id":"bf2f9c58.b23cf","type":"subflow:ac607145.b8858","z":"1f6b4cd7.580ab3","name":"","x":1520,"y":860,"wires":[]},{"id":"5e0f1d0e.72acd4","type":"function","z":"1f6b4cd7.580ab3","name":"neglect msg friendlyname","func":"if(msg.friendlyname !== undefined){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":820,"wires":[["bf2f9c58.b23cf","cdf7b87f.08e338"]]},{"id":"6b1e6698.6a7ef8","type":"ui_button","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"reload gateways","group":"41b7f885.973478","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"sync","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":260,"y":900,"wires":[["cf6a0c19.2f0fd"]]},{"id":"d876881d.52c158","type":"ui_button","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"reload nodes","group":"a3b84e04.bcada","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"sync","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":224,"y":573,"wires":[["d96d486b.5cf158"]]},{"id":"376bb84d.5c4108","type":"switch","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Done.","vt":"str"},{"t":"eq","v":"Configuration not valid!","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1440,"wires":[["f17a27bb.b48df8"],["7ad6da86.9f1714"]]},{"id":"f17a27bb.b48df8","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"4583ba33.7fa9c4","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Valid","x":1130,"y":1440,"wires":[]},{"id":"6566196d.8d3048","type":"switch","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Done.","vt":"str"},{"t":"eq","v":"Configuration not valid!","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1100,"wires":[["db79ae96.9d463"],["d8ab8a8b.e7d488"]]},{"id":"f523a013.5a4de","type":"switch","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Done.","vt":"str"},{"t":"eq","v":"Configuration not valid!","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":780,"wires":[["4e44ecc0.efa5c4"],["4a591ded.73e174"]]},{"id":"db79ae96.9d463","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Valid","x":1170,"y":1080,"wires":[]},{"id":"4e44ecc0.efa5c4","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Valid","x":1150,"y":760,"wires":[]},{"id":"d1ca8909.e4bb68","type":"function","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","name":"show current settings","func":"gws = msg.payload;\nsettings = global.get(\"LORIDANE.devices.gw\");\nlet freq;\nlet friendly;\nlet sf;\nlet arr = [];\n\n\nfor (var gw in gws){\n    for(var s in settings){\n        if(gws[gw] == settings[s].uid){\n            (settings[s].friendlyname === undefined || settings[s].friendlyname == \"\") ? friendly = settings[s].uid : friendly = settings[s].friendlyname;\n            freq = settings[s].freq / 1e6;\n            sf = settings[s].sf;\n            arr.push(\"GW: \"+friendly+\" , Frequency: \"+freq+\" MHz , SF: \"+sf);\n        }\n    }\n}\n\nfreq = settings.freq / 1e6;\nsf = settings.sf;\nmsg.payload = arr.join(\"; \");\n\nif(msg.payload.length > 0){\n    msg.title = \"Current Settings\";\n}else{\n    msg.title = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1140,"wires":[["45909532.cdbfcc"]]},{"id":"45909532.cdbfcc","type":"ui_text","z":"1f6b4cd7.580ab3","g":"7243966e.6fe5f8","group":"41b7f885.973478","order":5,"width":0,"height":0,"name":"Current GW Settings","label":"{{msg.title}}","format":"{{msg.payload}}","layout":"col-center","x":620,"y":1140,"wires":[]},{"id":"f57c7438.d33ed8","type":"ui_text","z":"1f6b4cd7.580ab3","group":"5db15994.d9fc08","order":5,"width":0,"height":0,"name":"Current Global Settings","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":720,"wires":[]},{"id":"cdf7b87f.08e338","type":"function","z":"1f6b4cd7.580ab3","name":"","func":"setTimeout(()=>node.send({topic:\"\",payload:\"\"}),15000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":760,"wires":[["f57c7438.d33ed8","2a92d1df.8da11e","7bdc9f26.5aad1"]]},{"id":"2a92d1df.8da11e","type":"ui_text","z":"1f6b4cd7.580ab3","group":"a3b84e04.bcada","order":5,"width":0,"height":0,"name":"Current Node Settings","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"col-center","x":1520,"y":680,"wires":[]},{"id":"7bdc9f26.5aad1","type":"ui_text","z":"1f6b4cd7.580ab3","group":"41b7f885.973478","order":5,"width":0,"height":0,"name":"Current GW Settings","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"col-center","x":1520,"y":640,"wires":[]},{"id":"4c866e2b.03075","type":"function","z":"1f6b4cd7.580ab3","name":"show current settings","func":"gws = msg.payload;\nsettings = global.get(\"LORIDANE.devices.nodes\");\nlet freq;\nlet friendly;\nlet sf;\nlet arr = [];\n\n\nfor (var gw in gws){\n    for(var s in settings){\n        if(gws[gw] == settings[s].uid){\n            (settings[s].friendlyname === undefined || settings[s].friendlyname == \"\") ? friendly = settings[s].uid : friendly = settings[s].friendlyname;\n            freq = settings[s].freq / 1e6;\n            sf = settings[s].sf;\n            arr.push(\"Node: \"+friendly+\" , Frequency: \"+freq+\" MHz , SF: \"+sf);\n        }\n    }\n}\n\nfreq = settings.freq / 1e6;\nsf = settings.sf;\nmsg.payload = arr.join(\"; \");\n\nif(msg.payload.length > 0){\n    msg.title = \"Current Settings\";\n}else{\n    msg.title = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":560,"wires":[["c6ca17e.9eba2e8"]]},{"id":"c6ca17e.9eba2e8","type":"ui_text","z":"1f6b4cd7.580ab3","g":"2adc7590.81d46a","group":"a3b84e04.bcada","order":5,"width":0,"height":0,"name":"Current Node Settings","label":"{{msg.title}}","format":"{{msg.payload}}","layout":"col-center","x":560,"y":780,"wires":[]},{"id":"94a8257e.359848","type":"function","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"Load Devices","func":"nodes = global.get(\"LORIDANE.devices.nodes\");\ngws = global.get(\"LORIDANE.devices.gw\");\noptions = [];\n\n// as list for the choose device dropdown load the device an if available the friendlyname\nfor (var node in nodes){\n    let name = \"\";\n    if(nodes[node].friendlyname != \"\" && nodes[node].friendlyname != undefined){\n        name = `${nodes[node].uid} - ${nodes[node].friendlyname}`;\n        options[node] = {[name]:nodes[node].uid};\n    }else{\n        name = `${nodes[node].uid}`;\n        options[node] = {[name]:nodes[node].uid} ;\n    }\n}\nfor (var gw in gws){\n    let name = \"\";\n    if(gws[gw].friendlyname != \"\" && gws[gw].friendlyname != undefined){\n        name = `${gws[gw].uid} - ${gws[gw].friendlyname}`;\n        options.push({[name]:gws[gw].uid});\n    }else{\n        name = `${gws[gw].uid}`;\n        options.push({[name]:gws[gw].uid}) ;\n    }\n}\n\nreturn {options:options};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["e41938e4.4cfbf8"]]},{"id":"e41938e4.4cfbf8","type":"ui_dropdown","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"Choose Node","label":"","tooltip":"","place":"Select Node to be configured","group":"18340171.beb3bf","order":2,"width":11,"height":1,"passthru":false,"multiple":true,"options":[],"payload":"","topic":"nodes","topicType":"str","x":540,"y":220,"wires":[["b38a3cbc.d6eec"]]},{"id":"5dd9d65b.740d68","type":"ui_button","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"reload nodes","group":"18340171.beb3bf","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"sync","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":190,"y":220,"wires":[["94a8257e.359848"]]},{"id":"c698174a.3a1f58","type":"ui_toast","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Are You Shure You wantt to delete this device including the config files?","name":"","x":750,"y":260,"wires":[["fbf4095b.1235f8"]]},{"id":"59f2f4da.e90c3c","type":"file","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"Delete Files and Configs","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1090,"y":260,"wires":[[]]},{"id":"fbf4095b.1235f8","type":"function","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"","func":"if(msg.payload != OK)return;\n\ndevices = msg.devices;\nnodes = global.get(\"LORIDANE.devices.nodes\");\ngws = global.get(\"LORIDANE.devices.gw\");\n\nfor(var dev of devices){\n    for (var node in nodes){\n        if (nodes[node].includes(dev)){\n            node.send({filepath:nodes[node]});\n            \n        }\n        if (nodes[node].uid == dev){\n            nodes.splice(node,1);\n        }\n    }\n    for (var gw in gws){\n        if (gws[gw].includes(dev)){\n            node.send({filepath:gws[gw]});\n        }\n        if (gws[gw].uid == dev){\n            gws.splice(gw,1);\n        }\n    }\n}\n\nglobal.set([\"LORIDANE.devices.nodes\",\"LORIDANE.devices.gw\"],[nodes,gws]);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":260,"wires":[["59f2f4da.e90c3c"]]},{"id":"b38a3cbc.d6eec","type":"change","z":"1f6b4cd7.580ab3","g":"570f65e.ee4d09c","name":"","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":220,"wires":[["c698174a.3a1f58"]]},{"id":"18340171.beb3bf","type":"ui_group","z":"1f6b4cd7.580ab3","name":"Delete Device","tab":"1809f267.7a279e","order":2,"disp":true,"width":"12","collapse":false},{"id":"d7396f84.84707","type":"ui_group","name":"Server","tab":"1809f267.7a279e","order":1,"disp":true,"width":"12","collapse":false},{"id":"a3b84e04.bcada","type":"ui_group","name":"Configure Single Node","tab":"7f451d99.cdaae4","order":1,"disp":true,"width":"12","collapse":false},{"id":"41b7f885.973478","type":"ui_group","name":"Configure Gateway","tab":"6b5685b0.8ca3ec","order":1,"disp":true,"width":"12","collapse":false},{"id":"5db15994.d9fc08","type":"ui_group","name":"Change Global Network Configuration","tab":"842e81e.7f33f8","order":1,"disp":true,"width":"12","collapse":false},{"id":"1809f267.7a279e","type":"ui_tab","name":"System","icon":"fa-cog","order":5,"disabled":false,"hidden":false},{"id":"7f451d99.cdaae4","type":"ui_tab","name":"Configure Node","icon":"fa-microchip","order":4,"disabled":false,"hidden":false},{"id":"6b5685b0.8ca3ec","type":"ui_tab","name":"Configure Gateway","icon":"wifi","order":3,"disabled":false,"hidden":false},{"id":"842e81e.7f33f8","type":"ui_tab","name":"Global Config","icon":"fa-globe","order":2,"disabled":false,"hidden":false},{"id":"97782ced.d80e4","type":"subflow","name":"LORIDANE - Init","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red/cog.svg","status":{"x":660,"y":180,"wires":[{"id":"a41754f2.d5ad78","port":0}]}},{"id":"7a92328e.ba6acc","type":"inject","z":"97782ced.d80e4","name":"SET LinuxUsername once!","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"pi","payloadType":"str","x":200,"y":80,"wires":[["6abc6cb2.a4e0a4"]]},{"id":"6abc6cb2.a4e0a4","type":"exec","z":"97782ced.d80e4","command":"cat /etc/passwd | grep home","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":80,"wires":[["b928cae3.b792d8"],[],[]]},{"id":"b928cae3.b792d8","type":"function","z":"97782ced.d80e4","name":"Extract Username","func":"data = msg.payload;\n\n// grep the name of the /home directory from <cat /etc/passwd | grep home>\nstartindex = data.indexOf(\"/home/\") + 6;\nuser = data.substring(startindex,data.indexOf(\":\",startindex));\nglobal.set(\"LORIDANE.LinuxUsername\",user);\nnode.status({text:\"Linux Username: \"+user});\nmsg.user = user;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":80,"wires":[[]]},{"id":"a41754f2.d5ad78","type":"status","z":"97782ced.d80e4","name":"","scope":null,"x":540,"y":180,"wires":[[]]},{"id":"fad3d65d.26e9c8","type":"subflow","name":"LORIDANE - Send Timedisk","info":"","category":"","in":[{"x":100,"y":120,"wires":[{"id":"62d97ea0.a6291"}]}],"out":[{"x":820,"y":120,"wires":[{"id":"a5281f9f.86d04","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red-dashboard/ui_gauge.png","status":{"x":580,"y":180,"wires":[{"id":"8a23aa38.82a1c8","port":0}]}},{"id":"62d97ea0.a6291","type":"function","z":"fad3d65d.26e9c8","name":"Wait 5s","func":"lastmsg = context.get(\"lastmsg\")||Date.now();\nnow = Date.now();\ncontext.set(\"lastmsg\",now);\ntimer = context.get(\"timer\");\nclearTimeout(timer);\ncontext.set(\"timer\",timer);\n\nfunction send(msg){\n    node.send(msg);\n}\n\ntimer = setTimeout(send,5000,msg);\ncontext.set(\"timer\",timer);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":120,"wires":[["864a856.e59fb78"]]},{"id":"864a856.e59fb78","type":"function","z":"fad3d65d.26e9c8","name":"LORIDANE - TIMEDISK","func":"timedisksize = 0;\ndevices = global.get(\"LORIDANE.devices\");\ndevicecount = devices.gw.length + devices.nodes.length;\n\n\nfor (var device in devices.gw){\n    timedisksize += 100 + 50 * 2 ** (devices.gw[device].sf - 7);\n}\nfor (device in devices.nodes){\n    timedisksize += 100 + 50 * 2 ** (devices.nodes[device].sf - 7);\n}\nmsg.payload = {size:timedisksize,devicecount:devicecount};\nglobal.set([\"LORIDANE.timedisk.size\",\"LORIDANE.timedisk.count\"],[timedisksize,devicecount]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":120,"wires":[["a5281f9f.86d04"]]},{"id":"a5281f9f.86d04","type":"function","z":"fad3d65d.26e9c8","name":"send new Timedisk","func":"nodes = global.get(\"LORIDANE.devices.nodes\");\ngws = global.get(\"LORIDANE.devices.gw\");\nlastnodes = context.get(\"lastnodes\")||[];\ncontext.set(\"lastnodes\",nodes);\ntdsize = msg.payload.size;\nlet newtd = false;\n\nsetTimeout(()=>node.status({}),5000);\n\nfunction senddelayed(obj){\n    node.send(obj);\n}\n\n\nif(lastnodes.length === 0){\n    for(i=0 , all = nodes.length; i < all ; i++){\n        if(nodes[i].uid != lastnodes[i].uid){\n            newtd = true;\n            break;\n        }\n    }\n}\n\nnewtd = true;\nif (newtd){\n    time = 0;\n    for (var gw in gws){\n        for (i=0;i<nodes.length;i++){\n            obj = {payload:`${nodes[i].uid}td:${i};${tdsize};`,topic:`lora/${gws[gw].uid}`};\n            setTimeout(senddelayed,time,obj);\n            time += 50;\n            //node.send({payload:`${nodes[i].uid}td:2;500;`,topic:`lora/${gws[gw].uid};`});\n        }\n    }\n    node.status({text: \"Sent new Timedisk\"});\n}\n\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[[]]},{"id":"8a23aa38.82a1c8","type":"status","z":"fad3d65d.26e9c8","name":"","scope":null,"x":460,"y":180,"wires":[[]]},{"id":"cd8aa5e0.35da38","type":"inject","z":"fad3d65d.26e9c8","name":"New timedisk manual trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":200,"y":180,"wires":[["62d97ea0.a6291"]]},{"id":"7f13ab70.148d14","type":"subflow","name":"LORIDANE - Load Configurations from Files","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"2edc27b4.c26608"}]}],"out":[{"x":1080,"y":140,"wires":[{"id":"cc242b8d.888158","port":0},{"id":"9be797fc.7da1b8","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red/file-in.svg","status":{"x":740,"y":220,"wires":[{"id":"447d6f9e.e0daf","port":0}]}},{"id":"52e51496.7cbb5c","type":"function","z":"7f13ab70.148d14","name":"","func":"filepaths = global.get(\"LORIDANE.filepath.gw\");\n\nmsg = {};\n\n// send the filepaths for the device configurations to the file node as query\nif(filepaths.length > 0){\nfor (var i in filepaths) {\n    msg.filename = filepaths[i];\n    node.send(msg);\n}\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["f4828a55.46b378"]]},{"id":"8cfa6aee.97acf8","type":"function","z":"7f13ab70.148d14","name":"","func":"filepaths = global.get(\"LORIDANE.filepath.nodes\");\n\nmsg = {};\nif(filepaths.length > 0){\nfor (var i in filepaths) {\n    msg.filename = filepaths[i];\n    node.send(msg);\n}\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":160,"wires":[["9169ebd2.9104e8"]]},{"id":"f4828a55.46b378","type":"file in","z":"7f13ab70.148d14","name":"Gateway Configs","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":750,"y":100,"wires":[["cc242b8d.888158"]]},{"id":"9169ebd2.9104e8","type":"file in","z":"7f13ab70.148d14","name":"Node Configs","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":740,"y":160,"wires":[["9be797fc.7da1b8"]]},{"id":"9be797fc.7da1b8","type":"function","z":"7f13ab70.148d14","name":"","func":"devices = global.get(\"LORIDANE.devices.nodes\") || [];\n\ndevcon = JSON.parse(msg.payload);\nnewdevice = true;\n\nsetTimeout(()=>node.status({}),5000);\n\nfor (var device in devices){\n    if(devices[device].uid == devcon.uid && devcon !== null){\n        /*if(devices[device].friendlyname != devcon.friendlyname){\n            break;\n        }*/\n        newdevice = false;\n        break;\n    } \n}\n\nif(newdevice){\n    devices.push(devcon);\n    node.status({text: \"Added new node configuration\"})\n}else{\n    node.status({text: \"Known Device\"});\n}\n\nif(devices.length > 0){\n    global.set(\"LORIDANE.devices.nodes\",devices);\n}\nreturn devcon;","outputs":1,"noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nglobal.set(\"LORIDANE.devices.nodes\",[]);","finalize":"","libs":[],"x":920,"y":160,"wires":[["bf76089e.77ad58"]]},{"id":"cc242b8d.888158","type":"function","z":"7f13ab70.148d14","name":"","func":"devices = global.get(\"LORIDANE.devices.gw\")||[];\n\nnewdevice = true;\n// device configuration comes from a jsonfile as string and nees to be parsed to an obj\ndevcon = JSON.parse(msg.payload);\n\nsetTimeout(()=>node.status({}),5000);\n\n// if the device uid in the context matches the uid in the incoming configuration it is no new device\nfor (var device in devices){\n    if(devices[device].uid == devcon.uid && devcon !== null){\n        /*if(devices[device].friendlyname != devcon.friendlyname){\n            break;\n        }*/\n        newdevice = false;\n        break;\n    }\n}\n\n// if it is indeed a not yet loaded device, save it to the context\nif(newdevice){\n    devices.push(devcon);\n    node.status({text: \"Added new gateway configuration\"});\n}else{\n    node.status({text: \"Known Device\"});\n}\n\nif(devices.length > 0){\n    global.set(\"LORIDANE.devices.gw\",devices);\n}\n\nreturn devcon;","outputs":1,"noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nglobal.set(\"LORIDANE.devices.gw\",[]);","finalize":"","libs":[],"x":920,"y":100,"wires":[[]]},{"id":"447d6f9e.e0daf","type":"status","z":"7f13ab70.148d14","name":"","scope":null,"x":620,"y":220,"wires":[[]]},{"id":"52f599a.00ea768","type":"fs-file-lister","z":"7f13ab70.148d14","name":"Watch Config Folder","start":"","pattern":"*.json","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":"2","stat":false,"showWarnings":false,"x":340,"y":120,"wires":[["bcc9e2f4.019c1","52e51496.7cbb5c","8cfa6aee.97acf8"]]},{"id":"bcc9e2f4.019c1","type":"function","z":"7f13ab70.148d14","name":"copy known filepath to RAM","func":"paths = msg.payload;\nnodes = [];\ngateways = [];\n\nfor(var i in paths){\n    if(paths[i].includes(\"nodes\")){\n        nodes.push(paths[i]);\n    }else if(paths[i].includes(\"gateways\")){\n        gateways.push(paths[i]);   \n    }\n}\nfilepath = {gw:gateways,nodes:nodes};\n\nglobal.set(\"LORIDANE.filepath\",filepath);\n\nreturn;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[]},{"id":"bf76089e.77ad58","type":"function","z":"7f13ab70.148d14","name":"set block off","func":"timer = context.get(\"timer\");\nclearTimeout(timer);\ntimer = setTimeout(()=>global.set(\"LORIDANE.blockONstart\",false),100);\ncontext.set(\"timer\",timer);\n\n\nreturn;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":240,"wires":[]},{"id":"b016cbe0.d251e8","type":"inject","z":"7f13ab70.148d14","name":"Load Device Configs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.05","topic":"","payload":"","payloadType":"date","x":160,"y":300,"wires":[["52f599a.00ea768"]]},{"id":"2edc27b4.c26608","type":"function","z":"7f13ab70.148d14","name":"","func":"USER = global.get(\"LORIDANE.LinuxUsername\");\nmsg.payload.start = `/home/${USER}/loridaneHWconfig/`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":155,"y":120,"wires":[["52f599a.00ea768"]],"l":false},{"id":"def48ad9.6be1a8","type":"subflow","name":"LORIDANE - Acknowledge","info":"","category":"","in":[{"x":240,"y":80,"wires":[{"id":"2ef387c.915aa78"}]}],"out":[{"x":480,"y":80,"wires":[{"id":"2ef387c.915aa78","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-cloud-download","status":{"x":520,"y":160,"wires":[{"id":"fcab1cf.b920ee","port":0}]}},{"id":"2ef387c.915aa78","type":"function","z":"def48ad9.6be1a8","name":"Acknowledge","func":"data = msg.data;\ndevs = global.get(\"LORIDANE.devices\");\n\n// if Lora msg payload is Node UID its an ackn\nif (msg.data.pay == msg.config.node){\n    msg.topic = \"acknowledge\";\n    node.status({text:\"New Device found\"});\n    \n}\nnode.status({});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":80,"wires":[[]]},{"id":"fcab1cf.b920ee","type":"status","z":"def48ad9.6be1a8","name":"","scope":null,"x":420,"y":160,"wires":[[]]},{"id":"83d4be28.02d9a","type":"subflow","name":"LORIDANE - MQTT In","info":"","category":"","in":[],"out":[{"x":600,"y":80,"wires":[{"id":"347f737e.cdc7fc","port":0}]},{"x":840,"y":160,"wires":[{"id":"90f7a2b3.af4f1","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red/bridge.svg","status":{"x":590,"y":260,"wires":[{"id":"d0849e34.21ea7","port":0}]}},{"id":"69388a04.326844","type":"mqtt in","z":"83d4be28.02d9a","name":"","topic":"lora/gateway/#","qos":"0","datatype":"utf8","broker":"43eb91c6.df19d","nl":false,"rap":true,"rh":0,"x":200,"y":80,"wires":[["347f737e.cdc7fc"]]},{"id":"347f737e.cdc7fc","type":"function","z":"83d4be28.02d9a","name":"Process incoming Data","func":"raw = msg.payload;\nlastmsgs = context.get(\"lastmsgs\")||[];\nnow  = Date.now();\n\nfunction extractID(pay){\n    if (pay[2] == \":\"){\n        this.node = pay.slice(0,20);\n        this.pay = pay.slice(20,pay.length);\n    }\n    return this;\n}\n//*/Variant 1 raw\nif(raw.startsWith(\"{\")){\n    //*/Variant 1 object\n    input = JSON.parse(raw);\n    nodedata = input.payload\n    gateway = input.gw\n    RSSI = input.rssi\n    SNR = input.snr\n    SF = input.sf\n    freq = input.freq\n    payload = extractID(nodedata).pay\n    node = extractID(nodedata).node;\n}else{\n    // Extract the data from the LoRa msg\n    input  = msg.payload.split(\";\");\n    nodedata = input[0];\n    gateway = extractID(input[1]).node;\n    RSSI = parseInt(input[2]);\n    SNR = parseFloat(input[3]);\n    SF = parseInt(input[4]);\n    freq = parseInt(input[5]);\n    payload = extractID(nodedata).pay;\n    node = extractID(nodedata).node;\n}\n\nfor (ms=0;ms<lastmsgs;){\n    if(now - lastmsgs[ms].time >= 100){\n        lastmsgs.splice(ms,1);\n        ms--;\n    }\n    if(payload == lastmsgs[ms].pay && node == lastmsgs[ms].node && gw != lastmsgs[ms].gw && now - lastmsgs[ms].time <= 100){\n        lastmsgs.splice(ms,1);\n        return;\n    }\n    ms++;\n}\n\nlastMsgObj = {pay:payload,node:node,gw:gateway,time:now};\nlastmsgs.push(lastMsgObj);\ncontext.set(\"lastmsgs\",lastmsgs);\n\n\nobj = {x:Date.now(),y:RSSI};\n\n// objec that takes all data from the msg\nmsg.data = {\n    pay:payload,\n    gw:gateway,\n    node:node,\n    freq:freq,\n    sf:SF,\n    rssi:RSSI,\n    snr:SNR,\n    lastSeen:now\n};\n    \n//object that will be passed through the core nodes\nmsg.config = {\n    gw:gateway,\n    node:node,\n    freq:freq,\n    sf:SF,\n    lastSeen:now\n};\n\nmsg.raw = raw; // the raw LoRa msg\nmsg.payload = payload; // the actual payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[["90f7a2b3.af4f1","282c8cb7.cd59f4"]]},{"id":"d0849e34.21ea7","type":"status","z":"83d4be28.02d9a","name":"","scope":null,"x":460,"y":260,"wires":[[]]},{"id":"90f7a2b3.af4f1","type":"function","z":"83d4be28.02d9a","name":"msg.data.pay to msg.payload","func":"payload = msg.data.pay;\ntopic = msg.topic;\n\n//cut the data object to the minimum\nmsg = {payload:payload, topic:topic, data:msg.data, config:msg.config};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":160,"wires":[[]]},{"id":"282c8cb7.cd59f4","type":"function","z":"83d4be28.02d9a","name":"Confirmation","func":"//if(msg.data.pay != \"+\")return;\n\nfunction getNextGW(uid){\n    nodes = global.get(\"LORIDANE.devices.nodes\");\n    for (var device in nodes){\n        if (nodes[device].uid === uid){\n            return nodes[device].nextGW;\n        }\n        return undefined;\n    }\n}\n\nlet confirm = global.get(\"LORIDANE.confirm\");\nnow = Date.now();\nfrom = msg.data.node;\nsize = global.get(\"LORIDANE.timedisk.size\");\n\nfor(i=0;i<confirm.length;){\n    if(from == confirm[i].uid && msg.data.pay == \"+\") {\n        confirm.splice(i,1);\n        global.set(\"LORIDANE.confirm\",confirm);\n    }else if(now - confirm[i].time >= 3*size){\n        msg = {payload: confirm[i].out, topic:\"lora/\"+getNextGW(from)};\n        confirm.splice(i,1);\n        global.set(\"LORIDANE.confirm\",confirm);\n        node.send(msg);\n    }else if(now - confirm[i].time >= 5*size){\n        confirm.splice(i,1);\n        global.set(\"LORIDANE.confirm\",confirm);\n    }else{\n        i++;\n    }\n}\nglobal.set(\"LORIDANE.confirm\",confirm);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":200,"wires":[["1986ab87.849ab4"]]},{"id":"1986ab87.849ab4","type":"subflow:ac607145.b8858","z":"83d4be28.02d9a","name":"","env":[],"x":840,"y":200,"wires":[]},{"id":"ac607145.b8858","type":"subflow","name":"LORIDANE - Downlink","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"23035e86.6e3682"}]}],"out":[],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red/bridge-dash.svg","status":{"x":580,"y":160,"wires":[{"id":"2cc1eeb7.53fad2","port":0}]}},{"id":"610a64c0.489eac","type":"mqtt out","z":"ac607145.b8858","name":"","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"43eb91c6.df19d","x":650,"y":100,"wires":[]},{"id":"394e5c9.a24a7a4","type":"function","z":"ac607145.b8858","name":"Test Downlink","func":"function checkdevices(arr,fun){\n    for (var j in array){\n        if (!fun(arr[j]) || !arr[j].startsWith(\"NO:\")){\n            node.error(`The Device @Index ${j} \"${arr[j]}\" is no valid DeviceUID`);\n            return false;\n        }\n        return true;\n    }\n}\n\nlet inData = msg.payload;\n\nif(typeof(inData) == \"string\"){\n    return msg;\n}\n\nlet downdataNO = \"\";\nlet downdataGW = \"\";\nlet checkUID = global.get(\"funcs.checkUID\");\nlet deffreq = (msg.freq !== undefined);\nlet defsf = (msg.sf !== undefined);\nlet deftx =  (msg.tx !== undefined);\nlet defdevice = (msg.device !== undefined);\nlet prefix = \"\";\n\nif(!defdevice){\n    node.warn(\"Invalid msg.device\");\n}\nif(!msg.topic.startsWith(\"lora/\")){\n    node.warn(\"Invalid msg.topic\");\n}\n\nif(msg.device.length == 1 && msg.device[0].length >= 1 && checkdevices(msg.device[0],checkUID)){\n   for (var i of msg.devices[0]){\n    node.send({payload: i+downDataNO,topic:msg.topic});\n   }\n}\n\nif(msg.device.includes(\"nodes\")){\n    prefix += \"cn:\";\n    if (deffreq){\n        downdataNO += \"fn:\"+msg.freq+\";\";\n    }\n    if (defsf){\n        downdataNO += \"sn:\"+msg.sf+\";\";\n    }\n    if(deftx){\n        downdataNO += \"tn:\"+msg.tx+\";\";\n    }\n}\n\nif(msg.device.includes(\"gateways\")){\n    prefix += \"cg:\";\n     if (deffreq){\n        downdataGW += \"fg:\"+msg.freq+\";\";\n    }\n    if (defsf){\n        downdataGW += \"sg:\"+msg.sf+\";\";\n    }\n    if(deftx){\n        downdataGW += \"tg:\"+msg.tx+\";\";\n    }\n}\nnode.send({payload: prefix + downdataNO + downdataGW ,topic:msg.topic});\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[[]]},{"id":"23035e86.6e3682","type":"function","z":"ac607145.b8858","name":"Send in Timerframe","func":"function sendmsg(msg){\n    node.send(msg)\n}\n// load needed data from context\nnow = Date.now();\ntimedisk = global.get(\"LORIDANE.timedisk\")||{size:1500,count:5};\nlastmsg = context.get(\"lastmsg\")||0;\nnow = Date.now();\ncontext.set(\"lastmsg\",now + 30);\nsize = timedisk.size;\ntimeinframe = (now - lastmsg)%size;\nsf = global.get(\"LORIDANE.devices.gw[0].sf\")||7;\nsendtime = size - (100 + 50 * 2 ** (sf-7));\nuntilsend = sendtime - timeinframe;\n\n// check when the timeframe for the gateway is reached\nif(untilsend < 0){\n    untilsend +=sendtime;\n    setTimeout(sendmsg,untilsend,msg);\n}else{\n    setTimeout(sendmsg,untilsend,msg);\n    node.status({text:\"Delayed msg for \"+untilsend+\" ms\"});\n}\n\n//check if in the to be confirmed array is old data\nlet confirm = global.get(\"LORIDANE.confirm\")||[];\nif (confirm.length > 0){\n    for(var con in confirm){\n        if(now - confirm[con].time >= 5*size){\n            confirm.splice(con,1);\n        }\n    }\n}\n\n//save outgoing msgs to the confirmation scope\nif(msg.payload.startsWith(\"NO\")){\n    obj = {uid: msg.payload.substring(0,20), out:msg.payload, time: now};\n    confirm.push(obj);\n}\n//except sync msgs\nif(msg.payload.includes(\"cn:\") && !msg.payload.includes(\"sync\")){\n    nodes = global.get(\"LORIDANE.devices.nodes\");\n    for(var nd in nodes){\n        obj = {uid: nodes[nd].uid, out:msg.payload, time: now};\n        confirm.push(obj);\n    }\n}\nglobal.set(\"LORIDANE.confirm\",confirm);\n\nnode.status({text:\"Delayed msg for \"+untilsend+\" ms\"});\nsetTimeout(() => node.status({text:\"\"}),3000);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":100,"wires":[["610a64c0.489eac"]]},{"id":"2cc1eeb7.53fad2","type":"status","z":"ac607145.b8858","name":"","scope":null,"x":470,"y":160,"wires":[[]]},{"id":"43eb91c6.df19d","type":"mqtt-broker","name":"HassIO","broker":"192.168.2.113","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fc272554.6a6ea8","type":"subflow","name":"LORIDANE - Save new devices","info":"Accepts two Inputs:\n - MQTT in listening to lora/gateway#\n - Inject node or similar that sends a\n    msg.topic of \"syncfrequency\"\n    if the gateway should listen to the standard frequency of 867MHz for 10 seconds at SF7\n\nIt then will add a configuration-file\nto /home/pi/gateway/\nfor each new Node\n\nIt has 3 Outputs:\n\n 1) Contains every (processed) message the MQTT In      receives in msg.data.\n 2) Should be conected to\n    \"Load Configuration from Files\", if that is wanted\n 3) Received Raw MQTT on msg.payload\n    and the configuration Data if new device binding is initiated via msg.topic = \"syncfrequency\"","category":"","in":[{"x":80,"y":240,"wires":[{"id":"96ba103d.e6148"},{"id":"511faf3c.1be0c"}]}],"out":[{"x":940,"y":220,"wires":[{"id":"f9389fb4.1d491","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red/leveldb.png","status":{"x":420,"y":380,"wires":[{"id":"6df540f1.fcbc9","port":0}]}},{"id":"6df540f1.fcbc9","type":"status","z":"fc272554.6a6ea8","name":"","scope":["f9389fb4.1d491"],"x":320,"y":380,"wires":[[]]},{"id":"96ba103d.e6148","type":"function","z":"fc272554.6a6ea8","name":"add new node","func":"//if (msg.friendlyname !== undefined){return}\n\nblock = flow.get(\"block\")|| false;\ngateways = global.get(\"LORIDANE.devices.gw\")||[];\nsetTimeout(()=> node.status({}),5000);\n\nfunction sendDelayed(arr){\n    node.send(arr);\n}\n\n//reset the config of the gateay after 10 secs to values before\nfunction resetConfig(){\n    flow.set(\"block\",false);\n    gateways = flow.get(\"lastGatewayParams\")||[];\n    flow.set(\"lastGatewayParams\",[]);\n    \n    for(var gateway in gateways){\n    node.send([null,{payload:`cg:fg:${gateways[gateway].freq / 100000};sg:${gateways[gateway].sf};`,topic:`lora/${gateways[gateway].uid}`}]);\n    }\n    node.status({text:`Reset Configuration to: \"cg:fg:${gateways[gateway].freq / 100000};sg:${gateways[gateway].sf};\"`});\n    \n}\n\nlet timer;\nlet gateway;\n\n\nif((msg.topic != \"syncfrequency\" || msg.topic != \"acknowledge\" ) && block){\n    node.status({text:\"Blocked and Waiting for New Devices\"});\n    return;\n}else if(msg.topic == \"syncfrequency\"){\n    flow.set(\"block\",true);\n    flow.set(\"lastGatewayParams\",gateways),\n    timer = clearTimeout(timer);\n    //gateways = global.get(\"LORIDANE.devices.gw\");\n\n    for(gateway in gateways){\n        node.send([null,{payload:\"cg:fg:8670;sg:7;\",topic:`lora/${gateways[gateway].uid}`}]);\n        setTimeout(sendDelayed,500,[null,{payload:`cn:fn:${gateways[gateway].freq / 100000};sn:${gateways[gateway].sf};`,topic:`lora/${gateways[gateway].uid}`}]);\n    }\n    node.status({text:`Configuration Sent to GWs: \"cg:fg:8670;sg:7;\"`});\n    timer = setTimeout(resetConfig,10500);\n    flow.set(\"timer\",timer);\n    return;\n}else if(msg.topic == \"acknowledge\"){\n    node.send([msg,null]);\n    flow.set(\"block\",true);\n    flow.set(\"lastGatewayParams\",gateways),\n    timer = clearTimeout(timer);\n    gateways = global.get(\"LORIDANE.devices.gw\");\n    msg.data.pay = -1;\n    \n    if (gateways != []){\n        for(gateway in gateways){\n            node.send([msg,{payload:`cn:fn:${gateways[gateway].freq / 100000};sn:${gateways[gateway].sf};`,topic:`lora/${gateways[gateway].uid}`}]);\n        }\n    }else{\n        node.send([msg,{payload:`cn:fn:${msg.data.freq / 100000};sn:${msg.data.sf};`,topic:`lora/${msg.data.gw}`}]);\n    }\n    node.status({text:`Configuration Sent to GWs: \"cg:fg:8670;sg:7;\"`});\n    timer = setTimeout(resetConfig,10500);\n    flow.set(\"timer\",timer);\n    return;\n}\n\nnode.status({text:\"Passthrough Mode\"});\n\nreturn [msg,null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["dfe6bfba.5cdb1"],["8c79ceda.aa77d"]]},{"id":"dfe6bfba.5cdb1","type":"function","z":"fc272554.6a6ea8","name":"","func":"if(msg === null){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":575,"y":240,"wires":[["f9389fb4.1d491"]],"l":false},{"id":"d01f1a7d.37fdc8","type":"file","z":"fc272554.6a6ea8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1030,"y":320,"wires":[[]]},{"id":"8c79ceda.aa77d","type":"function","z":"fc272554.6a6ea8","name":"","func":"if(msg === null){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":595,"y":360,"wires":[["53921820.963338"]],"l":false},{"id":"53921820.963338","type":"subflow:ac607145.b8858","z":"fc272554.6a6ea8","name":"","env":[],"x":740,"y":360,"wires":[]},{"id":"511faf3c.1be0c","type":"function","z":"fc272554.6a6ea8","name":"save friendlyname","func":"if (msg.friendlyname === undefined){\n    return;\n}\nconst USER = global.get(\"LORIDANE.LinuxUsername\");\nconst gws = global.get(\"LORIDANE.devices.gw\");\nlet nds = global.get(\"LORIDANE.devices.nodes\");\n\n// check which device the friendly name update concerns by uid\nfor (var gw in gws){\n    if (msg.friendlyname.uid == gws[gw].uid){\n        gws[gw].friendlyname = msg.friendlyname.name;\n        node.send({payload:gws[gw],filename:`/home/${USER}/loridaneHWconfig/gateways/${gws[gw].uid}.json`});\n    }\n}\n\nfor (var nd in nds){\n    if (msg.friendlyname.uid == nds[nd].uid){\n        nds[nd].friendlyname = msg.friendlyname.name;\n        node.send({payload:nds[nd],filename:`/home/${USER}/loridaneHWconfig/nodes/${nds[nd].uid}.json`});\n    }\n}\nglobal.set([\"LORIDANE.devices.gw\",\"LORIDANE.devices.nodes\"],[gws,nds]);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":300,"wires":[["d01f1a7d.37fdc8"]]},{"id":"f9389fb4.1d491","type":"function","z":"fc272554.6a6ea8","name":"Save unknown devices","func":"devices = global.get(\"LORIDANE.devices\");//||{gw:[],nodes:[]};\nnewConfig = global.get(\"LORIDANE.classes.newConfig\");\ndata = msg.config;\ncheckUID = global.get(\"LORIDANE.funcs.checkUID\");\nblock = global.get(\"LORIDANE.blockONstart\");\nif(block){return;}\n\n//constructor(UID,type,freq,sf,friendlyname,interval,nextgw)\n\n// New Gateway?\nlet UID = data.gw;\nlet USER = global.get(\"LORIDANE.LinuxUsername\");\n\nlet newdevice = true;\nlet type = \"GW\";\n\nfor (var device in devices.gw){\n    /*\n    if(devices.gw.length === 0){\n        break;\n    }\n    //*/\n    if(devices.gw[device].uid == UID){\n        node.status({text:\"Known Device\"});\n        devices.gw[device].lastSeen = data.lastSeen || Date.now();\n        data.friendlyname = devices.gw[device].friendlyname;\n        newdevice = false;\n        changedConf = (devices.gw[device].freq != data.freq || devices.gw[device].sf != data.sf);\n        if (changedConf){\n            devices.gw[device].nextGW = data.gw;\n            devices.gw[device].freq = data.freq //\n            devices.gw[device].sf = data.sf//\n            conf = devices.gw[device];\n            node.send({payload:conf,filename:`/home/${USER}/loridaneHWconfig/gateways/${UID}.json`});\n            node.status({text:\"changed GW conf saved\"});\n        }\n    break;\n    }\n}\n\nif(newdevice && UID.startsWith(\"GW\") && checkUID(UID) && data.node != data.gw){\n        conf = new newConfig(UID,type,data.freq,data.sf,data.friendlygw,0,data.friendlygw);\n        devices.gw.push(conf);\n        node.send({payload:conf,filename:`/home/${USER}/loridaneHWconfig/gateways/${UID}.json`});\n}\n\n\n//New Node?\nnewdevice = true;\nUID = data.node;\ntype = \"energy\";\nfor (device in devices.nodes){\n    /*\n    if(devices.nodes.length === 0){\n        break;\n    }\n    //*/\n    if(devices.nodes[device].uid == UID){\n        devices.nodes[device].interval = data.lastSeen - devices.nodes[device].lastSeen;\n        devices.nodes[device].lastSeen = data.lastSeen;\n        //data.friendlyname = devices.nodes[device].friendlyname;\n        newdevice = false;\n        changedConf = (devices.nodes[device].freq != data.freq || devices.nodes[device].sf != data.sf || data.gw != devices.nodes[device].nextGW);\n        if (changedConf){ //  if it is not a new unknown uid it might be a changed configuration\n            devices.nodes[device].nextGW = data.gw;\n            devices.nodes[device].freq = data.freq //\n            devices.nodes[device].sf = data.sf//\n            conf = devices.nodes[device];\n            node.send({payload:conf,filename:`/home/${USER}/loridaneHWconfig/nodes/${UID}.json`});\n            node.status({text:\"changed conf saved\"});\n        }\n        break;\n    }\n}\nif(newdevice && UID.startsWith(\"NO\") && checkUID(UID)){\n    conf = new newConfig(UID,type,data.freq,data.sf,data.friendlyname,0,data.gw); //uses class definition for new device\n    conf.nextGW = data.gw;\n    conf.tx = 20;\n    devices.nodes.push(conf);\n    node.send({payload:conf,filename:`/home/${USER}/loridaneHWconfig/nodes/${UID}.json`});\n}\nsetTimeout(() => node.status({}),3000);\nmsg.config = devices;//data;\nglobal.set(\"LORIDANE.devices\",devices);\n\ntd = global.get(\"LORIDANE.timedisk\");\nif(td === undefined){\n    return null; // null is an empty object but triggers the timedisk function\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":240,"wires":[["d01f1a7d.37fdc8"]]},{"id":"d5589740.322d58","type":"debug","z":"fc272554.6a6ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"e6996980.bb41a8","type":"tab","label":"LORIDANE","disabled":false,"info":""},{"id":"509a335a.737a5c","type":"group","z":"e6996980.bb41a8","name":"","style":{"label":true,"fill":"#3FADB5","fill-opacity":"0.26","stroke":"#3FADB5"},"nodes":["e4ac7d4c.2db29","b8aaf6ef.310b58","3a515a9d.5a5986","29661662.1635da","3d011d2f.47a492","1afda858.df1ca8","b8845a11.0d14b8","2f6744dd.7c85ac","b6e742a8.e0717","7fc1dfcc.ba02c","980dafd4.0884a","c4610514.394178","7be8095d.2c4638","b213940.23c617"],"x":34,"y":299,"w":1252,"h":282},{"id":"648d035d.fba97c","type":"group","z":"e6996980.bb41a8","name":"","style":{"fill":"#ffff3f","fill-opacity":"0.31","label":true},"nodes":["e789fef0.8683a","9ed9632a.bd2c3","98fd26c0.5db008","937dca71.37c948","9513e19d.c29f8","f1756884.8cc778","89bedd26.93e2d","19c06479.7d032c","20cb8078.ac69c","f600a33f.3438a","65d6c444.bc737c","a4c799a.2231e68"],"x":314,"y":719,"w":772,"h":422},{"id":"1a4a9cac.0aa1e3","type":"inject","z":"e6996980.bb41a8","name":"Load Device Configs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.05","topic":"","payload":"","payloadType":"date","x":690,"y":240,"wires":[["29661662.1635da"]]},{"id":"a64b3c04.7198","type":"debug","z":"e6996980.bb41a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"e789fef0.8683a","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"fn:8650;fg:8650;","payloadType":"str","x":440,"y":1020,"wires":[["937dca71.37c948"]]},{"id":"80552c6a.f0407","type":"inject","z":"e6996980.bb41a8","name":"Listen to 867Mhz for 10 secs","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"syncfrequency","x":380,"y":140,"wires":[["e4ac7d4c.2db29"]]},{"id":"e4ac7d4c.2db29","type":"subflow:fc272554.6a6ea8","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"Save new devices","env":[],"x":750,"y":440,"wires":[["7fc1dfcc.ba02c","3d011d2f.47a492","b6e742a8.e0717"]]},{"id":"9ed9632a.bd2c3","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"fn:8670;cn:cg:fg:8670;","payloadType":"str","x":560,"y":1060,"wires":[["937dca71.37c948"]]},{"id":"7fc1dfcc.ba02c","type":"debug","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":440,"wires":[]},{"id":"98fd26c0.5db008","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"cn:cg:fn:8640;fg:8640;","payloadType":"str","x":560,"y":1100,"wires":[["937dca71.37c948"]]},{"id":"937dca71.37c948","type":"subflow:ac607145.b8858","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","env":[],"x":800,"y":1020,"wires":[]},{"id":"b8aaf6ef.310b58","type":"subflow:83d4be28.02d9a","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","env":[],"x":160,"y":460,"wires":[["d161c222.ea61f","3a515a9d.5a5986","9555140d.c0a2f8","c4610514.394178"],["7be8095d.2c4638","b213940.23c617"]]},{"id":"3a515a9d.5a5986","type":"subflow:def48ad9.6be1a8","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","env":[],"x":420,"y":420,"wires":[["e4ac7d4c.2db29","4f508d.e1492f74"]]},{"id":"d161c222.ea61f","type":"debug","z":"e6996980.bb41a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"config","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":240,"wires":[]},{"id":"7be8095d.2c4638","type":"debug","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":500,"wires":[]},{"id":"29661662.1635da","type":"subflow:7f13ab70.148d14","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"Load Configurations from Files","env":[],"x":990,"y":340,"wires":[["a64b3c04.7198"]],"icon":"node-red/file-out.svg"},{"id":"9513e19d.c29f8","type":"debug","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":860,"wires":[]},{"id":"f1756884.8cc778","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"233","crontab":"","once":true,"onceDelay":"11","topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"cn:sync","payloadType":"str","x":510,"y":820,"wires":[[]],"info":"Sends Timesync to Nodes"},{"id":"89bedd26.93e2d","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"cn:iv:600000;","payloadType":"str","x":530,"y":980,"wires":[["937dca71.37c948"]]},{"id":"19c06479.7d032c","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"cn:iv:5000;","payloadType":"str","x":520,"y":900,"wires":[["937dca71.37c948"]]},{"id":"20cb8078.ac69c","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"NO:94:B9:7E:C0:C4:6Ctd:2;1250;","payloadType":"str","x":770,"y":820,"wires":[["9513e19d.c29f8","937dca71.37c948"]]},{"id":"3d011d2f.47a492","type":"subflow:fad3d65d.26e9c8","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","env":[],"x":900,"y":520,"wires":[["1afda858.df1ca8","5d0ff7ee.65edb8"]]},{"id":"39d9063e.409aca","type":"inject","z":"e6996980.bb41a8","name":"New timedisk manual trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":860,"y":640,"wires":[["3d011d2f.47a492"]]},{"id":"1afda858.df1ca8","type":"subflow:ac607145.b8858","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","env":[],"x":1160,"y":520,"wires":[]},{"id":"f600a33f.3438a","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"cn:iv:15000;","payloadType":"str","x":530,"y":940,"wires":[["937dca71.37c948"]]},{"id":"9555140d.c0a2f8","type":"debug","z":"e6996980.bb41a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":280,"wires":[]},{"id":"4f508d.e1492f74","type":"debug","z":"e6996980.bb41a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":640,"wires":[]},{"id":"b8845a11.0d14b8","type":"subflow:97782ced.d80e4","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","env":[],"x":140,"y":380,"wires":[]},{"id":"65d6c444.bc737c","type":"comment","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"Test Configuration Downlink","info":"","x":700,"y":760,"wires":[]},{"id":"2f6744dd.7c85ac","type":"comment","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"Core Functions","info":"","x":660,"y":340,"wires":[]},{"id":"5d0ff7ee.65edb8","type":"debug","z":"e6996980.bb41a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":640,"wires":[]},{"id":"a4c799a.2231e68","type":"inject","z":"e6996980.bb41a8","g":"648d035d.fba97c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lora/GW:F0:08:D1:C8:D6:58","payload":"cn:iv:900;","payloadType":"str","x":520,"y":860,"wires":[["937dca71.37c948"]]},{"id":"b6e742a8.e0717","type":"subflow:1f6b4cd7.580ab3","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","env":[],"x":600,"y":500,"wires":[["e4ac7d4c.2db29"]]},{"id":"980dafd4.0884a","type":"subflow:50021684.fc8998","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","env":[],"x":1160,"y":460,"wires":[]},{"id":"c4610514.394178","type":"subflow:87b4e0ed.4f6a5","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"","env":[],"x":420,"y":380,"wires":[]},{"id":"b213940.23c617","type":"link out","z":"e6996980.bb41a8","g":"509a335a.737a5c","name":"LORIDANE - Payload Out","links":["6a22e9a5.6c8568"],"x":325,"y":540,"wires":[]},{"id":"3846a2a7.e1d21e","type":"tab","label":"Data Processing","disabled":false,"info":""},{"id":"6a22e9a5.6c8568","type":"link in","z":"3846a2a7.e1d21e","name":"Data Processing in","links":["b213940.23c617"],"x":125,"y":100,"wires":[["e690d383.afd86"]]},{"id":"e690d383.afd86","type":"function","z":"3846a2a7.e1d21e","name":"Filter Nodes ONRO","func":"nodes = [\n    \"NO:94:B9:7E:C0:C4:6C\",\n    /*\"NO:94:B9:7E:C0:C3:1C\"*/\n    ];\n\nif (nodes.indexOf(msg.data.node) == -1){\n    return;\n}\n\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":100,"wires":[["d66217ef.b2ccc8","12798c8.d078274"]]},{"id":"12798c8.d078274","type":"debug","z":"3846a2a7.e1d21e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":40,"wires":[]},{"id":"e12de0b1.8d56","type":"ui_gauge","z":"3846a2a7.e1d21e","name":"Leistung ONRO","group":"bf837bc6.2c47f8","order":2,"width":"6","height":"4","gtype":"gage","title":"Leistung - ONRO Zähler","label":"Watt","format":"{{value|number:2}}","min":0,"max":"1000","colors":["#3fadb5","#3fadb5","#3fadb5"],"seg1":"","seg2":"","x":980,"y":180,"wires":[]},{"id":"d66217ef.b2ccc8","type":"function","z":"3846a2a7.e1d21e","name":"Set DataSet","func":"if (isNaN(msg.payload)){return}\ndata = msg.data\nUID = data.node;\n\nif(msg.topic == \"offset\"){\n    reading = msg.payload;\n    flow.set(`data.${UID}.lastreading`,reading);\n    return;\n}\n\n//----------------------------------------\n//Calc power\nfunction getpower(input){\n    const now = Date.now();\n    const lasttime = flow.get(`data.${UID}.lasttime`)||0;\n    flow.set(`data.${UID}.lasttime`,now);\n    const msInhours = 3600000;\n\n    interval = now-lasttime;\n    ivperhour= msInhours / interval;\n    value = Math.round(input * ivperhour*100)/100;\n\n    if(value > 55000){\n        return;\n    }\n    return value;\n}\n//------------------------------------------\n//set object\nlastreading = flow.get(`data.${UID}.lastreading`)||0;\nreading = lastreading + msg.payload/1000;\nconst obj = {\n    reading : reading,\n    power : getpower(msg.payload),\n    timestamp : data.lastSeen,\n    powerunit: \"Watt\",\n    readingunit: \"kWh\"\n}\nflow.set(`data.${UID}.lastreading`,reading)\nUSER = global.get(\"LORIDANE.LinuxUsername\")\nmsg.payload = obj;\nmsg.filename = `/home/${USER}/LORIDANE/database/${UID}.json`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":160,"wires":[["a203a15f.52d91","79effe3d.37f18","4abe86ef.813d78","2c6756ac.41712a"]]},{"id":"bdd14f49.8de0f","type":"ui_chart","z":"3846a2a7.e1d21e","name":"","group":"bf837bc6.2c47f8","order":4,"width":"12","height":"4","label":"Letzte 12 Stunden","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":220,"wires":[[]]},{"id":"e14236a1.a044a8","type":"inject","z":"3846a2a7.e1d21e","name":"clear","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":790,"y":220,"wires":[["bdd14f49.8de0f"]]},{"id":"a203a15f.52d91","type":"debug","z":"3846a2a7.e1d21e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"79effe3d.37f18","type":"change","z":"3846a2a7.e1d21e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":180,"wires":[["bdd14f49.8de0f","e12de0b1.8d56"]],"l":false},{"id":"be43fae5.f691a8","type":"ui_button","z":"3846a2a7.e1d21e","name":"","group":"bf837bc6.2c47f8","order":1,"width":0,"height":0,"passthru":false,"label":"Clear View","tooltip":"","color":"","bgcolor":"","icon":"fa-trash-o","payload":"[]","payloadType":"json","topic":"clear","topicType":"str","x":770,"y":260,"wires":[["bdd14f49.8de0f"]]},{"id":"2c2998ba.0f5e08","type":"inject","z":"3846a2a7.e1d21e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"data.node","v":"NO:94:B9:7E:C0:C4:6C","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"offset","payload":"11.42","payloadType":"num","x":430,"y":180,"wires":[["d66217ef.b2ccc8"]]},{"id":"4abe86ef.813d78","type":"file","z":"3846a2a7.e1d21e","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":790,"y":340,"wires":[["8fde8dc2.4de5a"]]},{"id":"8fde8dc2.4de5a","type":"debug","z":"3846a2a7.e1d21e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":944,"y":340,"wires":[]},{"id":"2c6756ac.41712a","type":"ui_text","z":"3846a2a7.e1d21e","group":"bf837bc6.2c47f8","order":3,"width":"6","height":"4","name":"","label":"Zählerstand","format":"{{msg.payload.reading|number:2}} kWh","layout":"col-center","x":1000,"y":280,"wires":[]},{"id":"771030a1.518d","type":"fs-file-lister","z":"3846a2a7.e1d21e","name":"","start":"/home/pi/LORIDANE/database","pattern":"*.json","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":false,"showWarnings":true,"x":340,"y":420,"wires":[["102665c4.b33fca"]]},{"id":"86d79ebb.cf18a","type":"inject","z":"3846a2a7.e1d21e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["771030a1.518d"]]},{"id":"102665c4.b33fca","type":"function","z":"3846a2a7.e1d21e","name":"","func":"files = msg.payload;\n\nfor(var file of files){\n    node.send({filename:file,node: file.substring(file.indexOf(\"NO\"),file.indexOf(\"NO\")+20)});\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":440,"wires":[["564fa131.11db3"]]},{"id":"de5db691.79af68","type":"debug","z":"3846a2a7.e1d21e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.reading","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":540,"wires":[]},{"id":"564fa131.11db3","type":"exec","z":"3846a2a7.e1d21e","command":"tail -n 1","addpay":"filename","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Read last line","x":660,"y":460,"wires":[["a435b05.97ce15"],[],[]]},{"id":"a435b05.97ce15","type":"function","z":"3846a2a7.e1d21e","name":"","func":"msg.payload = JSON.parse(msg.payload);\ndata = msg.payload;\n\nnode = msg.node;\nlastreading = flow.get(`data.${node}.lastreading`);\n\nif(lastreading === undefined){\n    flow.set(`data.${node}.lastreading`,data.reading);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":480,"wires":[["de5db691.79af68"]]},{"id":"f68ce270.2f433","type":"tab","label":"Classes and functions","disabled":false,"info":""},{"id":"4e428405.bd66ac","type":"function","z":"f68ce270.2f433","name":"Classes","func":"classes = {\n    newConfig:\n        class newConfig{\n            constructor(UID,type,freq,sf,friendlyname,interval,nextgw){\n                this.uid = UID;\n                this.type = type;\n                this.freq = freq;\n                this.sf = sf;\n                this.friendlyname = friendlyname;\n                this.interval = interval;\n                this.nextGW = nextgw;\n            }\n        },\n\n};\nglobal.set(\"LORIDANE.classes\",classes);\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":100,"wires":[]},{"id":"9d2afcea.bebb6","type":"inject","z":"f68ce270.2f433","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["4e428405.bd66ac"]]},{"id":"d7ed3f9b.99bdc","type":"function","z":"f68ce270.2f433","name":"Functions","func":"funcs = {\n    checkUID:\n        function checkUID(UID){\n            if(UID.length !== 20){\n                return false;\n            }\n            \n            function colonindex(i){\n                if(i<2){\n                    return false;\n                }else if(i==2){\n                    return true;\n                }else{\n                    return ((i-2)%3 === 0);\n                }\n            }\n            \n            if(!UID.startsWith(\"NO\")&& !UID.startsWith(\"GW\")){\n                return false;\n            }\n            for (index=2;index<UID.length;index++){\n                fit = new RegExp(/([A-F0-9:])/).test(UID[index]);\n                if(colonindex(index)){\n                    fit = (UID[index] == \":\");\n                }\n                if(!fit){\n                return fit;\n                }\n            }\n            return fit;\n        },\n    inRangeOf:\n        function inRangeOf(value,lower,upper){\n            if (value >= lower && value <= upper){\n                return true;\n            }\n            return false;\n        },\n    getUIDGW:\n        function getUIDGW(){\n            devices = global.get(\"LORIDANE.devices.gw\");\n            let arr = [];\n            for (var d in devices){\n                arr.push(devices[d].uid);\n            }\n            return arr;\n        },\n    getUIDND:\n        function getUIDND(){\n            devices = global.get(\"LORIDANE.devices.nodes\");\n            let arr = [];\n            for (var d in devices){\n                arr.push(devices[d].uid);\n            }\n            return arr;\n        }\n};\nglobal.set(\"LORIDANE.funcs\",funcs);\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[]},{"id":"cbdc4f53.abc8b","type":"inject","z":"f68ce270.2f433","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":160,"wires":[["d7ed3f9b.99bdc"]]},{"id":"5f705f45.fce7","type":"function","z":"f68ce270.2f433","name":"Values","func":"values = {\n    allowedFreq:\n        [863,864.875,0.1,865,868.475,1,868.7,869.025,0.1,869.4,869.525,0.1,869.7,869.875,1],\n        //[band1 lower, band1 upper, band1 duty cicle in %]\n};\n\nglobal.set(\"LORIDANE.values\",values);\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":220,"wires":[]},{"id":"5b128090.09941","type":"inject","z":"f68ce270.2f433","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["5f705f45.fce7"]]},{"id":"dea8e2bf.acc81","type":"tab","label":"System","disabled":false,"info":""},{"id":"e05ba5dd.0120a8","type":"inject","z":"dea8e2bf.acc81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":270,"y":100,"wires":[["244c186d.6c8ae8"]]},{"id":"244c186d.6c8ae8","type":"exec","z":"dea8e2bf.acc81","command":"sudo systemctl start mosquitto","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":100,"wires":[[],[],[]]},{"id":"8af0da39.c43aa8","type":"inject","z":"dea8e2bf.acc81","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":320,"y":220,"wires":[["3666c222.3174ae"]]},{"id":"e34f5fa8.7ed89","type":"debug","z":"dea8e2bf.acc81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":220,"wires":[]},{"id":"3666c222.3174ae","type":"exec","z":"dea8e2bf.acc81","command":"cd && cd .. && ls","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":220,"wires":[["e34f5fa8.7ed89"],[],[]]},{"id":"bf837bc6.2c47f8","type":"ui_group","name":"ONRO","tab":"278b2300.ae23ae","order":2,"disp":true,"width":"12","collapse":false}]